@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Pic.Settings.Client</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@(Pages.Albums.ListComponent.Path)" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-image" aria-hidden="true"></span> Albums
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@(Pages.Groups.ListComponent.Path)" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@(Pages.Users.ListComponent.Path)" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </li>
        </ul>
    </div>*@

<MatNavMenu>
    <MatNavItem Href="/">
        <MatIcon Icon="home"></MatIcon>&nbsp; Home
    </MatNavItem>
    <MatNavItem Href="@(Pages.Albums.ListComponent.Path)">
        <MatIcon Icon="photo_album"></MatIcon>&nbsp; Albums
    </MatNavItem>
    <MatNavItem Href="@(Pages.Groups.ListComponent.Path)">
        <MatIcon Icon="group"></MatIcon>&nbsp; Groups
    </MatNavItem>
    <MatNavItem Href="@(Pages.Users.ListComponent.Path)">
        <MatIcon Icon="person"></MatIcon>&nbsp; Users
    </MatNavItem>
</MatNavMenu>